{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
  <link href="css/simple-sidebar.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
  <script src="js/app.js" type="text/javascript"></script>
{% endblock %}

{% block sidebar %}
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      {% verbatim %}
        <li v-for="tvShow in tvShows">
          <a @click="loadTvShow(tvShow.id)">{{ tvShow.title }}</a>
        </li>
      {% endverbatim %}
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="img/default-show.png" alt="">
        </a>
      </div>
      <div class="col-xs-6 col-md-9">
        <div class="row">
          <h1>{{ '{{ tvShow.title }}' }}</h1>
        </div>
        <p v-html="tvShow.description">
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <form>
      <!--TODO create review form here -->
    </form>
  </div>

  <div v-if="reviews.length">
    <div class="row">
      <h1>Reviews</h1>
    </div>

    <div class="row">
      <div v-for="review in reviews" class="col-md-4">
        <h3>{{ '{{ review.reviewerName }}' }}</h3>
        <span class="rating" class="pull-right"></span>
        <p>
          {{ '{{ review.review }}' }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
